apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: pods.keti.migration
spec:
  group: keti.migration
  names:
    kind: Pod
    listKind: PodList
    plural: pods
    singular: pod
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Pod is the Schema for the pods API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            Volumes:
              type: object
            InitContainers:
              type: object
            Containers:
              type: object
            RestartPolicy:
              type: object
            TerminationGracePeriodSeconds:
              type: object
            ActiveDeadlineSeconds:
              type: object
            DNSPolicy:
              type: object
            NodeSelector:
              type: object
            ServiceAccountName:
              type: string
            DeprecatedServiceAccount:
              type: string
            AutomountServiceAccountToken:
              type: object
            NodeName:
              type: string
            HostNetwork:
              type: object
            HostPID:
              type: object
            HostIPC:
              type: object
            ShareProcessNamespace:
              type: object
            SecurityContext:
              type: object
            ImagePullSecrets:
              type: object
            Hostname:
              type: string
            Subdomain:
              type: string
            Affinity:
              type: object
            SchedulerName:
              type: string
            Tolerations:
              type: object
            HostAliases:
              type: object
            PriorityClassName:
              type: string
            Priority:
              type: object
            DNSConfig:
              type: object
            ReadinessGates:
              type: object
            RuntimeClassName:
              type: object
            EnableServiceLinks:
              type: object
            PreemptionPolicy:
              type: object
            Overhead:
              type: object
        status:
          properties:
            Phase:
              type: object
            Conditions:
              type: object
            Message:
              type: string
            Reason:
              type: string
            NominatedNodeName:
              type: string
            HostIP:
              type: string
            PodIP:
              type: string
            StartTime:
              type: object
            InitContainerStatuses:
              type: object
            ContainerStatuses:
              type: object
            QOSClass:
              type: object
            EphemeralContainerStatuses:
              type: object
      type: object
  version: v1alpha1
  versions:
    - name: v1alpha1
      served: true
      storage: true
